[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-auth = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas-gbq = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
